#katrori{
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#topi{
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

button{
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

#mesazhi{
     margin-bottom: 20px;
     font-size: 17px;
     color: brown;
     text-align: center;
}

.buttons button{
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
}

#input-area{
    margin-top: 20px;
}

#vlera{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#confirm{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

.container{
    padding: 20px;
    text-align: center;
    width: 100%;
}
form{
    display: block;
    font-size: 15px;
    color: brown;
}
input, select, button{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}
button{
    background-color: black;
    color: white;
}

#rezultati{
    font-size: 17px;
    text-align: center;
    color: red;
}


.shporta{
    width: 100px;
    display: block;
  }
  .gjen{
    width: 25px;
    height: 25px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    margin-bottom: 30px;
  }
  .ph{
    padding-top: 20px;
    padding-left: 30px;
  }

  .makkina-llog{
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}

input{
    display: block;
    padding: 10px;
    font-size: 15px;
    border: 2px red;
}

button{
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}

#rezultati{
    font-size: 20px;
    color: rebeccapurple;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgba(128, 128, 128, 0.838);
}
